<footer>
  <div class="copyright">
    <div class="logo-footer">
      <a href="#">Wc_<span>System</span></a>
    </div>
    <div class="p">
      <p>©2021 Wc-System.</p>
      <p>Todos os direitos reservados.</p>
    </div>
  </div>
  <div class="social">
    <a href="https://instagram.com" target="_blank">
      <i class="fa fa-instagram fa-fw"></i>
    </a>
    <a href="https://facebook.com" target="_blank">
      <i class="fa fa-facebook fa-fw"></i
    ></a>
    <a href="https://youtube.com" target="_blank"
      ><i class="fa fa-youtube fa-fw"></i
    ></a>
    <a href="https://linkedin.com" target="_blank"
      ><i class="fa fa-linkedin fa-fw"></i
    ></a>
  </div>
</footer>