table {
  width: 100%;
  min-height: fit-content;
}
.card {
  margin: 6.25rem 0;
  margin-top: 4.6875rem;
  margin-bottom: 0.3125rem;
  min-height: fit-content;
  border-radius: 2rem;
}
.row {
  margin: 1.5rem 0rem ;
  min-height: fit-content;
}
.card-body button {
  margin-bottom: 0rem 1.5rem;
  border-radius: 2rem;
}

.buttons button {
  margin: 0rem 0.75rem;
  border-radius: 2rem;
}
.buttons:active {
  transform: scale(1.05);
}
.p {
  color: red;
}
