<div class="card">
  <div class="car-body">
    <form [formGroup]="cidadeForm">
      <div class="row">
        <div class="col-md-4">
          <app-field-validation [required]="true">
            <label label for="cidade" class="form-label">Cidade</label>
            <input input formControlName="cidade" type="text" id="cidade" class="form-control" />
          </app-field-validation>
        </div>
      </div>
    </form>
  </div>
    <div class="card-footer">
      <div class="buttons float-right">
        <div *ngIf="action !== 'visualizar'">
          <button class="btn btn-success" (click)="onSave()">Salvar</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancelar</button>
        </div>
        <div *ngIf="action === 'visualizar'">
          <button class="btn btn-default" (click)="onAlterar()">Alterar</button>
          <button class="btn btn-default" (click)="onCancel()">Voltar</button>
        </div>
      </div>
    </div>
  </div>