<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <nav class="navbar navbar-expand-lg navbar-dark-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar" >Abrir Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <mat-nav-list>
            <mat-nav-list>
              <a mat-list-item href="/">
                  <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
              </a>
              <mat-divider></mat-divider>
              <mat-list>
                <a mat-list-item href="/residencias/visualizar">
                  <mat-icon>list</mat-icon> <span class="nav-caption">Lista de  Residencias</span>
              </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/cidades/visualizar">
                  <mat-icon>list</mat-icon> <span class="nav-caption">Lista de Cidades</span>
              </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/bairros/visualizar">
                  <mat-icon>list</mat-icon> <span class="nav-caption">Lista de Bairros</span>
              </a>
            <mat-divider></mat-divider>
              </mat-list>
            </mat-nav-list>
          </mat-nav-list>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Ações do proprietário
              </a>
              <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/residencias">Manter Lista Residencia</a></li>
                <mat-divider></mat-divider>
                <li><a class="dropdown-item" href="/cidades">Manter Lista Cidade</a></li>
                <mat-divider></mat-divider>
                <li><a class="dropdown-item" href="/bairros">Manter Lista Bairros</a></li>
              </ul>
            </li>
            <mat-divider></mat-divider>
            <a mat-list-item href="/">
              <mat-icon>close</mat-icon><span class="nav-caption">Sair</span>
          </a>
          </ul>
        </div>
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <a routerLink="/">Wc_<span>System</span></a>
      </div>
      <span class="spacer"></span>
      <div class="menu-list">
     <nav class="navbar navbar-expand-lg navbar-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <a href="/">Home</a>
            <a href="/residencias/visualizar">Lista de Residencias</a>
            <a href="/cidades/visualizar">Lista de Cidades</a>
            <a href="/bairros/visualizar">Lista de Bairros</a>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ações do proprietário
              </a>
              <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/residencias">Manter Lista de Residencia</a></li>
                <mat-divider></mat-divider>
                <li><a class="dropdown-item" href="/cidades">Manter Lista de Cidade</a></li>
                <mat-divider></mat-divider>
                <li><a class="dropdown-item" href="/bairros">Manter Lista de Bairros</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <a routerLink="/"><span>Sair</span></a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
