.footer button {
  margin-left: 9.375rem;
}
.footer:active {
  transform: scale(1.05);
}
.card {
  min-width: 50rem;
  background-color: #f87306;
}
.row {
  margin: 1.5rem 0;
  justify-content: center;
}
