<div class="card">
  <div class="card-body">
    <button class="btn btn-primary" [routerLink]="['nova']">Adicionar</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Imoveis</th>
          <th scope="col">Valor do aluguel</th>
          <th scope="col">Cômodos</th>
          <th scope="col">Bairro</th>
          <th scope="col">Imagens</th>
          <th scope="col" class="text-center">ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let residencia of residenciaList">
          <td>{{ residencia.id }}</td>

          <td class="btn tex-primary">
            <a [routerLink]="['visualizar', residencia.id]">
              {{ residencia.tipo }}
            </a>
          </td>
          <td>{{ residencia.valor }}</td>
          <td>
            {{ residencia.comodos }}
          </td>
          <td>
            {{ residencia.bairro }}
          </td>
          <td>
            <div class="img">
              <img
                src="../../../../assets/Apartamentos.jpg"
                class="rounded"
                alt="..."
              />
            </div>
          </td>
          <td class="text-center buttons">
            <button
              class="btn btn-primary"
              [routerLink]="['alterar', residencia.id]"
            >
              Alterar
            </button>
            <button class="btn btn-danger" (click)="onDelete(residencia.id)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
