<!DOCTYPE html>
<html lang="pt-br">
  <body class="content">
    <head class="header">
      <div class="menu">
        <div class="logo">
          <a href="#">Wc_<span>System</span></a>
        </div>
        <div>
          <ul>
            <li><a class="title" href="cidades">Listagem das Cidades</a></li>
            <li><a class="title" href="bairros">Listagem dos Bairros</a></li>
            <li>
              <a class="title" href="residencias">Listagem das Residencias</a>
            </li>
          </ul>
        </div>
      </div>
    </head>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <div class="copyright">
        <a href="#">Wc_<span>System</span></a>
        <p>©2021 Wc-System.</p>
        <p>Todos os direitos reservados.</p>
      </div>
      <div class="social">
        <a href="https://instagram.com" target="_blank">
          <i class="fa fa-instagram fa-fw"></i>
        </a>
        <a href="https://facebook.com" target="_blank">
          <i class="fa fa-facebook fa-fw"></i
        ></a>
        <a href="https://youtube.com" target="_blank"
          ><i class="fa fa-youtube fa-fw"></i
        ></a>
        <a href="https://linkedin.com" target="_blank"
          ><i class="fa fa-linkedin fa-fw"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
