<body class="content">
   <header id="header">
     <nav class="container">
      <div class="logo">
        <a  href="#">Wc <span> System</span>.</a>
      </div>
      <div class="menu">
        <ul class="grid">
          <li><a class="title" href="cidades">Lista de Cidades</a></li>
          <li><a class="title" href="bairros">Lista de Bairro</a></li>
          <li><a class="title" href="residencias">Lista de Residencias</a></li> 
        </ul>
      </div>
    </nav>
  </header>
  
 
    <main class="main">
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
 

  <footer>
    <div class="container grid">
      <div class="brand">
        <a class="logo logo-alt" href="#">Wc<span> System</span>.</a>
        <p>©2021 Wc-System.</p>
        <p>Todos os direitos reservados.</p>
      </div>
      <div class="social grid">
        <a href="https://instagram.com" target="_blank">
          <i class="fa fa-instagram fa-fw"></i>
        </a>
        <a href="https://facebook.com" target="_blank">
          <i class="fa fa-facebook fa-fw"></i></a>
        <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube fa-fw"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
      </div>
    </div>
  </footer>
</body>